@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.home-container {
  width: 100%;
}

.order-container {
  width: 50%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  color: #2f3e46;
}

#breakfast-font {
  font-size: 30px;
  text-shadow: 1.5px 1.5px #000;
  color: #84a98c;
}

#homeBfast-img {
  width: 100%;
}

#car-img {
  width: 50%;
  overflow: hidden;
}

#placeOrder {
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  border: 1.5px solid black;
  background-color: white;
  box-shadow: 1.5px 1.5px #000;
  text-decoration: none;
  padding: 10px;
}

#dividerTwo {
  margin-top: 30px;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(#2f3e46, #84a98c);
}

.bfastImg {
  width: 100px;
}

.story-container {
  margin: 0;
  color: white;
  box-shadow: 1.5px 1.5px #000;
  display: block;
  background-color: #84a98c;
}
