@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.landing-container {
  width: 100%;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.06fr 0.5fr 0.4fr 0.05fr 0.3fr 0.3fr 0.5fr 0.15fr 0.075fr;
  grid-template-areas:
    "header" "image1-container" "order-container" "divider"
    "slideshow-container" "foodStory-container" "image2-container" "testimony-container" "tuesday-container";

  .container {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  #header {
    // position: fixed;
    z-index: 0;
    width: 100%;
    background-color: #84a98c;
  }
  #image1-container {
    // box-shadow: 1px 2px 100px 0px #2f3e46;
    border-bottom: 1px solid #2f3e46;
  }

  #car-img {
    width: 75px;
  }

  #order-container {
    z-index: -1;
  }
  #orderBtn {
    background-color: #2f3e46;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    padding: 7px 15px;
    font-size: 20px;
  }

  #divider {
    width: 100%;
    background-image: linear-gradient(#2f3e46, #84a98c);
  }

  #foodStory-container {
    background-color: #84a98c;
    color: white;
    text-shadow: black 1.5px 1.5px;
    // padding: 20px;
  }

  #testimony-container {
    // background-color:
    font-weight: bold;
  }
  #order-container {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans Narrow", sans-serif;
    color: white;
    text-shadow: #2f3e46 1.5px 1.5px;
    background-color: #d36135;
  }

  #tuesday-container {
    background-color: #d36135;
  }
  // #breakfast-font {
  //   font-size: 30px;
  //   text-shadow: 1.5px 1.5px #000;
  //   color: #84a98c;
  // }

  // .breakfastImg-container {
  //   width: 100%;
  // }
  // #landingBfast-img {
  //   width: 100%;
  //   height: 200px;
  //   object-fit: cover;
  //   margin-top: 100px;
  //   margin-bottom: 0px;
  // }

  // #car-img {
  //   width: 50%;
  //   overflow: hidden;
  // }

  // #placeOrder {
  //   margin: 0 auto;
  //   text-transform: uppercase;
  //   font-family: "PT Sans Narrow", sans-serif;
  //   border: 1.5px solid black;
  //   background-color: white;
  //   box-shadow: 1.5px 1.5px #000;
  //   text-decoration: none;
  //   padding: 10px;
  // }

  // // #dividerTwo {
  // //   margin-top: 30px;
  // //   width: 100%;
  // //   height: 50vh;
  // //   background-image: linear-gradient(#2f3e46, #84a98c);
  // // }

  // .bfastImg {
  //   width: 100px;
  // }

  // .bottom-container {
  //   margin: 0;
  //   color: white;
  //   display: block;
  //   background-color: #84a98c;
  //   text-shadow: 1.5px 1.5px black;
  // }

  // .testimony-container {
  //   background-color: #2f3e46;
  // }

  // .myTestimony {
  //   background-color: #2f3e46;
  //   color: white;
  //   padding: 10px;
  // }
}
