.items-container {
  font-family: "PT Sans Narrow", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-container {
  border: 1px #cbd9ce solid;
  text-align: center;
  width: 12.5rem;
  padding: 0;
  margin: 12px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

  img {
    width: 100%;
  }

  h3:first-of-type {
    margin-top: 10px;
  }

  p {
    margin: 10px;
  }
}
