.row-eats-drinks {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 1.25rem;
  text-transform: uppercase;
}

.nav-item {
  justify-content: center;
  padding: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
}

a:link,
a:visited {
  color: #2f3e46;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "PT Sans Narrow", sans-serif;
}
a:hover,
a:active {
  background-color: #84a98c;
  color: white;
}

span {
  display: flex;
  flex-direction: row;
}

span:before,
span:after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid #84a98c;
  margin: 20px;
}

.jack-image {
  height: 2.5rem;
  width: 2.5em;
}

.drinks {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #2f3e46;
}

.menu-drinks {
  border: 2px red solid;
  display: flex;
}
