.header-container {
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #2f3e46;

  #menuBtn {
    position: fixed;
    left: 0;
    top: 20px;
    border-radius: 12px;
  }

  #logoBtn {
    width: 40px;
    border-radius: 12px;
  }
  #mainLogo {
    width: 75px;
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  li a {
    text-decoration: none;
    font-size: 18px;
    padding: 9px 1px;
    margin: 4px;
    background-color: #2f3e46;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
  }
  // possible other colors include #d36135 orangish & #fcf19d lighter yellowish
  li: before {
    color: green;
  }

  @media screen and (max-width: 780) {
    ul,
    li {
      display: none;
    }
  }
}
